aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.4.0
aiosqlite==0.21.0
annotated-types==0.7.0
attrs==25.3.0
azure-cognitiveservices-speech==1.44.0
azure-core==1.35.0
certifi==2025.6.15
charset-normalizer==3.4.2
comtypes==1.4.11
decorator==5.2.1
dotenv==0.9.9
frozenlist==1.7.0
idna==3.10
imageio==2.37.0
iso8601==2.1.0
multidict==6.6.3
numpy==2.3.1
pillow==11.3.0
propcache==0.3.2
py==1.11.0
pydantic==2.11.7
pydantic_core==2.33.2
pymediainfo==7.0.1
pypika-tortoise==0.6.1
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
retry==0.9.2
setuptools==78.1.1
six==1.17.0
srt==3.5.3
tabulate==0.9.0
tortoise-orm==0.25.1
typing-inspection==0.4.1
typing_extensions==4.14.1
uiautomation==2.0.28
urllib3==2.5.0
uv==0.8.5
wheel==0.45.1
yarl==1.20.1
